{% extends 'navbar.html' %}
{% block content %}
<head>
</head>
<h1>hello world</h1>
<div class="container"> 
    <h1>Submit your restaurant:</h1>
    <form method="POST">
        <label for="res_name">Select a Restaurant:</label>
        <select id="name" name="name">
            {% for restaurant in list_res %}
                <option value="{{ restaurant[0] }}">{{ restaurant[0] }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Submit</button>
    </form>
    
    </div>

{% endblock %}
