{% extends 'navbar.html' %}
{% block content %}
<div class="container mt-4"> 
    <h1>Submit your restaurant:</h1>
    <form action="{{ url_for('createBookmark', username=username) }}" method="POST">
        <div class="form-group mb-3">
            <label for="bookmarkname">Enter Bookmark Name:</label>
            <input type="text" class="form-control" id="bookmarkname" name="bookmarkname" required>
        </div>

        <div class="form-group mb-3">
            <label for="restaurant">Select a Restaurant:</label>
            <select class="form-control" id="restaurant" name="name" required>
                {% for restaurant in list_res %}
                    <option value="{{ restaurant[0] }}">{{ restaurant[0] }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
