{% extends 'navbar.html' %}
{% block content %}
<h1>{{ restaurant.name }}</h1>
<p><strong>Price Tag:</strong> {{ restaurant.pricetag }}</p>
<div class="container">
    <h2 class="mb-4 text-center">Restaurant Ratings</h2>
    <div class="row">
        {% for rating in ratings %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"> UserName: {{rating.username}}</h6> <br> 
                        <h6 class="card-title"> Timestamp: {{rating.timestamp}}</h6> <br> 
                        <h6 class="card-title"> Rating Out of 5: {{rating.rating}}</h6> <br> 
                        <h6 class="card-body">Comment: {{ rating.comment }}</h3> 
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}