{% extends 'navbar.html' %}
{% block content %}
<h1>{{ restaurant.name }}</h1>
<p><strong>Price Tag:</strong> {{ restaurant.pricetag }}</p>
<p><strong> Locations:</strong></p>
<p> {% for locations in locations %}
    {{locations.address}} 
    {{locations.city}}
    {{locations.state}}
    {{locations.country}}
    {{locations.zipcode}} <br> 
{% endfor %}
</p>
<br> 
<p><strong> Cuisines:</strong></p>
<p> {% for cuisines in cuisines %}
    {{cuisines.cuisinename}} <br> 
{% endfor %}
</p>
<br> <br> 
<p><strong> Awards:</strong></p>
<p> {% for awards in awards %}
    {{awards.awards}} <br> 
{% endfor %}
</p> <br> <br> 
<p><strong>Average Ratig:</strong> {{avg_rating}} <br> <strong> Number of Reviews:</strong>{{numReviews}}</p>


<div class="container">
    <h2 class="mb-4 text-center">Restaurant Ratings</h2>
    <div class="row">
        {% for rating in ratings %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"> UserName: {{rating.username}}</h6> <br> 
                        <h6 class="card-title"> Timestamp: {{rating.timestamp}}</h6> <br> 
                        <h6 class="card-title"> Rating Out of 5: {{rating.rating}}</h6> <br> 
                        <h6 class="card-body">Comment: {{ rating.comment }}</h3> 
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="container"> 
<h1>Submit your input:</h1>
<form method="POST">
    <label for="user_input">Enter comment:</label>
    <input type="text" id="username" name="username" required>
    <input type="text" id="user_input" name="user_input">
    <input type="number" id="rating" name="rating" required>
    <button type="submit">Submit</button>
</form>
</div>


{% endblock %}