{% extends 'navbar.html' %}
{% block content %}
<head>
</head>

<div class="container">
    <h2 class="mb-4 text-center">Ratings</h2>
    <div class="row">
        {% for comment in comments %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title"> Restaurant Name: {{comment.name}}</h6> <br> 
                        <h6 class="card-title"> Rating Out of 5: {{comment.rating}}</h6> <br> 
                        <h6 class="card-body">Comment: {{ comment.comment }}</h3> 
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container">
    <h2 class="mb-4 text-center">Bookmarks</h2>
    {% set current = None %}
    {% for row in bookmarks %}
        {% if current != row.bookmark_id %}
            {% if current is not none %}
                </ul> <!-- Close the previous bookmark's restaurant list -->
            {% endif %}
            <h3>Bookmark: {{ row.bookmarkname }}</h3>
            <ul>
            {% set current = row.bookmark_id %}
        {% endif %}
        <li>{{ row.name }}</li>
    {% endfor %}
    </ul> <!-- Close the last bookmark's restaurant list -->
</div>


<!-- 
<div class="container">
    <h2 class="mb-4 text-center">Bookmarks</h2>
    {% set current = None %}
    {% for row in bookmarks %}
        {% if current != row.bookmark_id %}
            {% if current is not none %}
                </ul>  Close the previous bookmark's restaurant list -->
            <!-- {% endif %}
            <h3>Bookmark {{ row.bookmarkname }}</h3>
            <ul>
            {% set current = row.bookmark_id %}
        {% endif %}
        <li>{{ row.name }}</li>
    {% endfor %}
    {% if bookmarks %}
        </ul> Close the last bookmark's restaurant list
    {% endif %}
</div>
-->

{% endblock %}





