{% extends 'navbar.html' %}
{% block content %}
<head>
</head>

<div class="container">
    <h2 class="mb-4 text-center">Ratings</h2>
    <div class="row">
        {% for comment in comments %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title"> Restaurant Name: {{comment.name}}</h6> <br> 
                        <h6 class="card-title"> Rating Out of 5: {{comment.rating}}</h6> <br> 
                        <h6 class="card-body">Comment: {{ comment.comment }}</h3> 
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container">
    <h2 class="mb-4 text-center">Bookmarks</h2>
    {% for bookmark_id, group in grouped_bookmarks.items() %}
        <h3>Bookmark: {{ group[0][1] }}</h3> 
        <ul>
            {% for row in group %}
                <li>{{ row[6] }}</li> 
            {% endfor %}
        </ul>
    {% endfor %}
</div>


{% endblock %}





