{% extends 'navbar.html' %}
{% block content %}
<head>
</head>
<h1>username: {{username}}</h1>
<h3>favorite cuisine: {{cuisines.cuisinename}}</h3>
<br> 
<br> 

<div class="container">
    <h2 class="mb-4 text-center">Bookmarks</h2>
    {% for bookmark_id, group in grouped_bookmarks.items() %}
        <h3>Bookmark: {{ group[0][1] }}</h3> 
        <form action="{{ url_for('addEBookmark', bookmark_id=group[0][0], username=username) }}" method="POST"></form>
        <button type="submit" class="btn btn-primary">Add to Bookmark</button>
        <ul>
            {% for row in group %}
                <li>{{ row[6] }}</li> 
            {% endfor %}
        </ul>
    {% endfor %}
</div>
<br> <br> <br> 




<h3> Current Friends:</h3><br> 

<div class="container">
    <div class="row">
        {% for friend in friends %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ friend[1]}}</h3>
                        <a href="{{ url_for('viewFriend', username=friend[1])}}" class="btn btn-primary">
                            View Details
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<h3>Follow Requests</h3>
<div class="container">
    <div class="row">
        {% for user in users %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{user.username}}</h3>
                        <form action="{{ url_for('addUser', username=username) }}" method="POST">
                            <input type="hidden" name="username2" value="{{user.username}}"> 
                            <button type="submit" class="btn btn-primary">Follow</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}


