{% extends 'navbar.html' %}
{% block content %}
<head>
</head>
<h1>username: {{username}}</h1>
<h3>favorite cuisine: {{cuisines.cuisinename}}</h3>
<br> 
<div class="container">
<form action="{{ url_for('createBookmark', username=username) }}">
    <button type="submit" class="btn btn-primary">Create New Bookmark</button>
</form>
</div>
<br> 

<div class="container">
    <h2 class="mb-4 text-center">Bookmarks</h2>
    {% if grouped_bookmarks %}
    {% for bookmark_id, group in grouped_bookmarks.items() %}
        <h3>Bookmark: {{ group[0][1] }}</h3> 
        <form action="{{ url_for('addEBookmark', bookmark_id=group[0][0]) }}">
            <button type="submit" class="btn btn-primary">Add to Bookmark</button>
        </form>
        <ul>
            {% for row in group %}
                <li>{{ row[6] }}</li> 
            {% endfor %}
        </ul>
    {% endfor %}
    {% else %}
    <p> No Bookmarks yet!</p>
    {% endif %}
</div>
<br><br><br>




<h3> Current Friends:</h3><br> 

<div class="container">
    <div class="row">
        {% if friends %}
        {% for friend in friends %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ friend[1]}}</h3>
                        <a href="{{ url_for('viewFriend', username=friend[1])}}" class="btn btn-primary">
                            View Details
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <p>No friends yet!</p>
        {% endif %}
    </div>
</div>


<h3>Follow Requests</h3>
<div class="container">
    <div class="row">
        {% if users %}
        {% for user in users %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{user.username}}</h3>
                        <form action="{{ url_for('addUser', username=username) }}" method="POST">
                            <input type="hidden" name="username2" value="{{user.username}}"> 
                            <button type="submit" class="btn btn-primary">Follow</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <p>You Follow Everyone!</p>
        {% endif %}
    </div>
</div>

{% endblock %}


